/* General */

.theme-color .cart-header .fa-shopping-cart,
.theme-color .cart-header a {
    color: #eee6ee;
    font-size: 18px;
    text-decoration: none;
}

.theme-color .cart-header a:hover {
    color: #eee6ee;
    font-weight: 500;
    text-decoration: none;
}

.theme-color .cart-header .items{
    background: #eee6ee;
    color: #000000;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
.jumbotron {
    color: #757575!important;
    padding: 3rem 1rem!important;
    margin-bottom: 0.1rem!important;
    background-color: #f0f0f0 !important;
    background-image: linear-gradient(-90deg, #cccccc, #f0f0f0, #eeeeee);
    border-radius: 0.0rem!important;
}

.theme-color .btn-primary {
    color: #ffffff;
    background-color: darkorange;
    border-color: darkorange;
    font-weight: 500;
}

.theme-color .btn-primary:hover {
    color: #ffffff;
    background-color: #ff8200;
    border-color: darkorange;
    font-weight: 600;
}

.theme-color.woocommerce ul.products li.product .button,
.theme-color.woocommerce input.button.alt,
.theme-color.woocommerce button.button.alt,
.theme-color.woocommerce-checkout button.button.alt{
    color: #ffffff;
    background-color: darkorange;
    border-color: darkorange;
    font-weight: 500;
}

.theme-color.woocommerce ul.products li.product .button:hover,
.theme-color.woocommerce input.button.alt:hover,
.theme-color.woocommerce button.button.alt:hover,
.theme-color.woocommerce-checkout button.button.alt:hover{
    color: #ffffff;
    background-color: #ff8200;
    border-color: darkorange;
    font-weight: 600;
}

.theme-color.woocommerce #respond input#submit,
.theme-color.woocommerce a.button,
.theme-color.woocommerce button.button,
.theme-color.woocommerce input.button{
    background-color: darkorange;
    color: #ffffff;
    margin: 1px;
}

.theme-color.woocommerce #respond input#submit:hover,
.theme-color.woocommerce a.button:hover,
.theme-color.woocommerce button.button:hover,
.theme-color.woocommerce input.button:hover{
    background-color: #ff8200;
    color: #ffffff;
}

.theme-color.woocommerce-account a.button {
    background-color: darkorange;
    color: #ffffff;
    margin: 1px;
    padding: .450em 1em;
}

.theme-color .woocommerce a.button:hover {
    background-color: #ff8200;
    color: #ffffff;
}

.theme-color .woocommerce-orders-table th {
    background-color: #ff7800 !important;
    border: 1px solid #ff7800!important;
}

.theme-color .woocommerce-MyAccount-navigation .is-active {
    font-weight: 600;
    background-color: #ff8200;
}

/* Cart Custom */
.theme-color .woocommerce table.shop_table thead th {
    background-color: #ff7800;
    border: 1px solid #ff7800!important;
    color: #fff;
    size: 10px!important;
}
.theme-color.woocommerce-cart button.button,
.theme-color.woocommerce-cart button.button:disabled, .woocommerce button.button:disabled[disabled]{
    background-color: darkorange;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    float: left;
}

.theme-color.woocommerce-cart button.button:hover,
.theme-color.woocommerce-cart button.button:disabled, .woocommerce button.button:disabled[disabled]:hover{
    background-color: #ff7800;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    float: right;
}

.shipping-calculator-button {
    color: darkorange;
}

.shipping-calculator-button:hover {
    color: #ff7800;
    text-decoration: none;
    font-weight: 600;
}

.woocommerce a.added_to_cart {
    padding-top: .5em;
    color: #ff7800!important;
    font-weight: 600;
}

/* Product Page */

.theme-color .star-rating,
.woocommerce p.stars a {
    color: #ff7800;
}

/* Shop Page */

/* Custom Navbar */

.navbar.bg-darkorange {
    background-color: darkorange !important;
}

/* Blog - Archive */
.blog-area a,
.blog .widget a,
.single .widget a,
.single h1,
.single a,
.archive a {
    color: darkorange;
}

.blog-area a:hover,
.archive a:hover,
.blog .widget a:hover,
.single a:hover{
    color: #ff7800;
    font-weight: 600;
}

/* Comments */
.comment-form .btn-info {
    color: #FFFFFF;
    background-color: darkorange;
    border-color: darkorange;
}

.comment-form .btn-info:hover {
    color: #FFFFFF;
    background-color: #ff7800;
    border-color: #ff7800;
    font-weight: 600;
}
