/* Theme colors */

.theme-light .cart-header .fa-shopping-cart,
.theme-light .cart-header a {
    color: #757575;
    font-size: 18px;
    text-decoration: none;
}

.theme-light .cart-header a:hover {
    color: #757575;
    font-weight: 500;
    text-decoration: none;
}

.theme-light .cart-header .items{
    background: #757575;
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

.jumbotron {
    color: #FFFFFF!important;
    padding: 3rem 1rem!important;
    margin-bottom: 0.1rem!important;
    background-color: #007bff!important; /* For browsers that do not support gradients */
    background-image: linear-gradient(-90deg, #007bff, #00b4ff, #005aff);
    border-radius: 0.0rem!important;
}

.theme-light .btn-primary:hover {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 600;
}

.theme-light.woocommerce ul.products li.product .button,
.theme-light.woocommerce input.button.alt,
.theme-light.woocommerce button.button.alt,
.theme-light.woocommerce-checkout button.button.alt{
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 500;
}

.theme-light.woocommerce ul.products li.product .button:hover,
.theme-light.woocommerce input.button.alt:hover,
.theme-light.woocommerce button.button.alt:hover,
.theme-light.woocommerce-checkout button.button.alt:hover{
    color: #ffffff;
    background-color: #005aff;
    border-color: #005aff;
    font-weight: 600;
}

.theme-light.woocommerce #respond input#submit,
.theme-light.woocommerce a.button,
.theme-light.woocommerce button.button,
.theme-light.woocommerce input.button{
    background-color: #007bff;
    color: #ffffff;
    margin: 1px;
}

.theme-light.woocommerce #respond input#submit:hover,
.theme-light.woocommerce a.button:hover,
.theme-light.woocommerce button.button:hover,
.theme-light.woocommerce input.button:hover{
    background-color: #005aff;
    color: #ffffff;
}

.theme-light.woocommerce-account a.button {
    background-color: #007bff;
    color: #ffffff;
    margin: 1px;
    padding: .450em 1em;
}

.theme-light .woocommerce a.button:hover {
    background-color: #005aff;
    color: #ffffff;
}

.theme-light .woocommerce-orders-table th {
    background-color: #005aff !important;
    border: 1px solid #005aff!important;
}

.theme-light .woocommerce-MyAccount-navigation .is-active {
    font-weight: 600;
    background-color: #005aff;
}

/* Cart Custom */
.theme-light .woocommerce table.shop_table thead th {
    background-color: #007bff;
    border: 1px solid #007bff!important;
    color: #fff;
}
.theme-light.woocommerce-cart button.button,
.theme-light.woocommerce-cart button.button:disabled, .woocommerce button.button:disabled[disabled]{
    background-color: #007bff;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.theme-light.woocommerce-cart button.button:hover,
.theme-light.woocommerce-cart button.button:disabled, .woocommerce button.button:disabled[disabled]:hover{
    background-color: #005aff;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.shipping-calculator-button {
    color: #007bff;
}

.shipping-calculator-button:hover {
    color: #005aff;
    text-decoration: none;
    font-weight: 600;
}

.woocommerce a.added_to_cart {
    padding-top: .5em;
    color: #005aff!important;
    font-weight: 600;
}

/* Product Page */

.theme-light .star-rating {
    color: #005aff;
}

/* Custom Navbar */

.navbar.bg-light {
    background-color: #FFFFFF !important;
}